@font-face {
  font-family: "ProbaPro";
  src: url("../fonts/ProbaProBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ProbaPro";
  src: url("../fonts/ProbaProLight.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ProbaPro";
  src: url("../fonts/ProbaProLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
