@import "_fonts-ProbaPro.scss";
@import "_mixins-fonts.scss";
@import "normalize";
@import "slick";

/*********************************************************************************************************************\
                                                  standart settings
\*********************************************************************************************************************/
*,
*:focus {
  outline: none !important;
}
a,
a:hover,
button,
button:hover {
  text-decoration: none;
  cursor: pointer;
}
body {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}
p {
  @include text("ProbaPro", 18px, bold, normal, left, #393939, none);
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.2;
}
img {
  vertical-align: middle;
}
.row-active-big:after {
  content: "";
  width: 98px;
  height: 9px;
  position: absolute;
  background-image: url(../assets/vawe-row__big.jpg);
  bottom: -20px;
  left: calc(50% - 49px);
}
/** ----- Chrome - scroll ----- **/
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}
body::-webkit-scrollbar-button {
  display: none;
}
// /** ----- Main - padding for fixed footer ----- **/
// main {
//   padding: 0 0 0;
// }
/*********************************************************************************************************************\
                                                  Keyframes
\*********************************************************************************************************************/
@keyframes logo__progress {
  0% {
    width: 0;
  }
  100% {
    width: 268px;
  }
}
@keyframes logo__skip-up {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-370px);
  }
}
@keyframes baner__skip-up {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
/*********************************************************************************************************************\
                                                  Reusable components
\*********************************************************************************************************************/
.hidden {
  display: none !important;
}
.wrapper {
  width: 70%;
  margin: 0 auto;
  @media (max-width: 1024px) {
    width: 80%;
  }
  @media (max-width: 960px) {
    width: 90%;
  }
}
/*********************************************************************************************************************\
                                                  Loader
\*********************************************************************************************************************/
.loader {
  width: 100vw;
  height: 100vh;
  background: url(../assets/loader_plate_2-4k.jpg) 50% no-repeat;
  background-size: cover;
  @include displayFlex(flex, column, 0, center);
  animation: baner__skip-up 1.2s linear 4s forwards;
}
.loader__block-wrapper {
  width: 70%;
  position: relative;
  padding-top: 77px;
  animation: logo__skip-up 0.6s linear 4s forwards;
  @media (max-width: 480px) {
    display: flex;
    justify-content: center;
  }
}
.loader__logo {
  width: 268px;
  height: 232px;
  @include displayFlex(flex, column, space-between, center);
}
.loader__image {
  height: 120px;
}
.loader__wrapper {
  width: 268px;
  height: 60px;
  @include displayFlex(flex, column, space-between, 0);
}
.loader__snail {
  display: flex;
  flex-direction: column;
}
.loader__snail-running {
  width: 250px;
  height: 35px;
  margin-left: 20px;
}
.loader__snail-running-wrapper {
  left: 0;
  width: 0;
  height: 26px;
  animation: logo__progress 4s ease-in-out forwards;
}
.loader__snail-running-logo {
  float: right;
  width: 35px;
  height: 26px;
}
.loader__loading {
  width: 74px;
  height: 18px;
  opacity: 0.6;
  @include text("ProbaPro", 16px, normal, normal, left, #ffffff, 0);
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
}
.loader__snail-wrapper {
  width: 267px;
  height: 2px;
  background: rgba(255, 255, 255, 0.75);
}
.loader__snail-wrapper-progress {
  width: 0;
  height: 2px;
  left: 0;
  background: #f4b43b;
  animation: logo__progress 4s ease-in-out forwards;
}
/*********************************************************************************************************************\
                                                  Header
\*********************************************************************************************************************/
header {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
}
.navigation {
  position: relative;
  @include displayFlex(flex, row, space-between, center);
}
.navigation-wrapper {
  @media (min-width: 1024px) {
    width: 90%;
  }
}
.navigation__logo {
  height: 80px;
  @media (max-width: 480px) {
    height: 60px;
  }
}
.navigation__logo-link-img {
  height: 100%;
}
.navigation__nav {
  max-width: 90%;
  @include displayFlex(flex, row, space-between, center);
  @media (max-width: 768px) {
    justify-content: flex-end;
  }
}
.navigation__nav-pages {
  @media (max-width: 768px) {
    display: none;
  }
}
.navigation__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  @include displayFlex(flex, row, space-between, center);
}
.navigation__nav-li {
  position: relative;
  padding: 0 10px;
  &:hover .navigation__nav-a {
    color: #f4b43b;
  }
  &:hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 66px;
    height: 6px;
    background-image: url(../assets/vawe-row__small.jpg);
    bottom: -4px;
    left: calc(50% - 33px);
  }
}
.navigation__nav-a {
  text-decoration: none;
  @include text("ProbaPro", 18px, bold, normal, left, #000000, 0);
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: normal;
  @media (max-width: 800px) {
    font-size: 16px;
  }
}
.navigation__nav-li:hover .row-active-small {
  display: block;
}
.navigation__nav-languages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include displayFlex(flex, row, space-between, center);
  & > li {
    padding: 0 10px;
  }
}
.navigation__nav-languages-li {
  cursor: pointer;
  opacity: 0.5;
  @include text("ProbaPro", 18px, 300, normal, left, #000000, 0);
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: normal;
  text-decoration: none;
  &:nth-child(2) {
    opacity: 1;
    border-left: 1px solid rgba(#000000, 0.5);
    border-right: 1px solid rgba(#000000, 0.5);
    box-sizing: border-box;
  }
  &.active-language {
    opacity: 1;
    color: #f4b43b;
  }
}
.burger-menu__cross {
  width: 30px;
  height: 30px;
  margin-left: 25px;
  cursor: pointer;
  transition: transform 330ms ease-out;
  outline: none;
  @include displayFlex(flex, column, space-between, 0);
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}
.burger-menu__cross.open {
  transform: rotate(-45deg);
}
.line-menu {
  background-color: #f4b43b;
  border-radius: 5px;
  width: 100%;
  height: 6px;
}
.line-menu.half {
  width: 50%;
}
.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}
.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}
.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}
.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}
.navigation__media {
  display: flex;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 30;
  .navigation__media-ul {
    width: 250px;
    height: 240px;
    background: #f6f6f6;
    box-shadow: 0 0 10px 0 rgba(black, 0.5);
    @include displayFlex(flex, column, center, center);
  }
  .navigation__media-li {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #f4b43b;
    box-sizing: border-box;
    &:last-child {
      border-style: none;
    }
    @include displayFlex(flex, row, center, center);
  }
}
/*********************************************************************************************************************\
                                                  Order
\*********************************************************************************************************************/
.about__order {
  padding: 35px 0 0;
}
.order {
  @include displayFlex(flex, column, space-between, center);
}
.order__title {
  position: relative;
  @include text("ProbaPro", 30px, bold, normal, center, #000000, uppercase);
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  @media (max-width: 480px) {
    font-size: 26px;
  }
}
.order__dishes {
  width: 990px;
  padding: 20px 0;
  @include displayFlex(flex, row, space-between, center);
  @media (max-width: 1024px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    width: 70%;
    flex-wrap: wrap;
  }
  @media (max-width: 600px) {
    width: 96%;
  }
  @media (max-width: 480px) {
    flex-direction: column;
  }
}
.order__dishes-option-container {
  width: 185px;
  height: 235px;
  @media (max-width: 480px) {
    height: 204px;
    margin: 0 0 15px;
  }
  @include displayFlex(flex, column, space-between, center);
}
.order__dishes-option {
  height: 185px;
  @include displayFlex(flex, column, flex-end, center);
  @media (max-width: 480px) {
    justify-content: center;
  }
  .order__dishes-option-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.order__dishes-option-link {
  @include text("ProbaPro", 20px, 300, normal, center, #000000, 0);
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: #f4b43b;
  }
  @media (max-width: 960px) {
    font-size: 17px;
  }
}
/*********************************************************************************************************************\
                                                  Snacks
\*********************************************************************************************************************/
